extends layout

block content
  div.form-group
    h1= title

    form(action='/categories/create', method='POST',enctype="multipart/form-data")
      div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', name='name', required=true)
        label(for='image') Image: 
        input#image.form-control-file(type="file", name='image')
      button.btn.btn-primary(type='submit') Create
    
    if errors
      ul
        for error in errors
          li!= error.msg