extends layout 

block content
    div.container
        each category in categories
            div.category
                img(src=`/images/${category.name.charAt(0).toLowerCase() + category.name.slice(1)}.jpg`)
                h2= category.name
                a(href=`/category/${category.id}`) View Details