extends layout

block content
  h1 Update Category

  // Category update form
  form(action=`/category/${category._id}/update`, method='POST')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', name='name', value=category.name, required=true)

    button.btn.btn-primary(type='submit') Update

    if errors 
        for error in errors 
            li != error.msg