body, html {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.m-left {
  margin-left: auto;
}

.home {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/background.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category img {
  width: 100%; /* Ensure the image fills the container width */
  height: 200px; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Rounded corners */
}

.stats {
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  gap: 20px;
}

button {
  padding: 0.5em;
  border-radius: 5px;

}

button a {
  text-decoration: none;
  color: black;
}

.delete-btn {
  background-color: #FF7F7F;
  margin-right: 1em;
}

.update-btn {
  background-color: yellow;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;

}


.item, .category {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  text-align: center;
}

.item h2, .category h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.item p.description, .category p.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.item a, .category a {
  text-decoration: none;
  color: #007bff;
}

.item a:hover, .category a:hover {
  text-decoration: underline;
}


form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='number'],
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

select {
  appearance: none;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.form-group {
  padding: 1em ;
}

.item-details {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.item-details p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 8px;
  color: #666;
}


.item-details button a {
  text-decoration: none;
  color: #fff;
}

.item-details button a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin-bottom: 10px;
  }

  nav ul li a {
      display: block;
  }
}